        <%- partial('./Body/bodyBefore.ejs') -%>

        <%- partial('./Header/default/index.ejs') -%>

        <h2>
            <%= title %>
        </h2>

        <%- partial('./Section/Select/default/index.ejs') -%>

        <%- partial('./Section/Products/Recent/default/index.ejs') -%>

        <%- partial('./Section/Categories/default/index.ejs') -%>

        <%- partial('./Section/Products/New/default/index.ejs') -%>

        <%- partial('./Section/Favorite/default/index.ejs') -%>

        <%- partial('./Section/News/default/index.ejs') -%>

        <%- partial('./Footer/default/index.ejs') -%>

        <%- partial('./Body/bodyAfter.ejs') -%>
